.menu {
  height: 100vh;
  width: auto;
  background-color: #fff;
  position: relative;
  transition: 0.3s;
  border-bottom: 1px solid #e7e7e7;
}
.menu .fold {
  position: absolute;
  top: 10px;
  right: -14px;
}
.menu :global .ant-btn-icon-only > * {
  font-size: 10px;
  font-weight: 500;
}
.menu :global .ant-btn-icon-only.ant-btn-sm {
  line-height: 10px;
}
.menu :global .ant-divider-horizontal {
  margin: 0;
}
.menu .item {
  transition: 0.3s;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.menu .item > div {
  border-left: 1px solid #e7e7e7;
}
.menu .item ul {
  width: 180px;
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu .item ul li > div {
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.hidden {
  width: 10px;
}
.hidden .item {
  display: none;
}
.show {
  width: auto;
}
.show .item {
  display: flex;
}
.menuItem {
  display: flex;
}
.label {
  flex: 1;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label > span {
  line-height: 22px;
}
.active {
  background-color: rgba(205, 205, 205, 0.2);
}
.active .parents {
  display: inline-block;
}
.active .addBtn {
  display: inline-block;
}
.parents {
  flex-shrink: 1;
  height: 19px;
  color: #55d987;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  line-height: 23px;
  display: none;
}
.favorate {
  color: #e74c3c;
}
.addBtn {
  display: none;
}
