.content {
  position: relative;
  transition: 0.3s;
}
.content .menu {
  height: 100%;
}
.content .menuContent {
  width: 180px;
  height: 100%;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: -5px 0px 5px -3px #e7e7e7;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.content .menuContent ul {
  display: block;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: hidden;
}
.content .menuContent ul:hover {
  overflow-y: auto;
}
.content .menuContent ul li > div {
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.content .menuContent ul li:hover {
  background-color: #E9E9E9;
}
.content .title {
  height: 42px;
  box-shadow: 0 5px 5px -3px #e7e7e7;
  padding: 10px 12px;
  text-align: center;
  flex-shrink: 0;
}
.content .button {
  padding: 0px 10px 5px 10px;
  flex-shrink: 0;
}
.content .fold {
  position: absolute;
  top: 10px;
  right: -14px;
  z-index: 9999999;
}
.content :global .ant-btn-icon-only > * {
  font-size: 10px;
  font-weight: 500;
}
.content :global .ant-btn-icon-only.ant-btn-sm {
  line-height: 10px;
}
.content :global .ant-divider-horizontal {
  margin: 0;
}
.content .item {
  transition: 0.3s;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.content .item > div {
  border-left: 1px solid #e7e7e7;
}
.content .item ul {
  width: 180px;
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.content .item ul li > div {
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s;
}
.hidden {
  width: 10px;
}
.hidden .menu {
  display: none;
}
.show {
  width: auto;
}
.show .menu {
  display: flex;
}
.menuItem {
  display: flex;
}
.label {
  flex: 1;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label > span {
  line-height: 22px;
}
.active {
  background-color: rgba(205, 205, 205, 0.2);
}
.active .parents {
  display: inline-block;
}
.active .addBtn {
  display: inline-block;
}
.parents {
  flex-shrink: 1;
  height: 19px;
  color: #55d987;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  line-height: 23px;
  display: none;
}
.favorate {
  color: #e74c3c;
}
.addBtn {
  display: none;
}
