//中文区域
.chineseWin {
    position                  : absolute;
    top                       : 100%;
    left                      : -3px;
    right                     : -3px;
    font-size                 : 16px;
    padding                   : 10px 30px 10px 10px;
    background-color          : rgba(243, 131, 3, 0.9);
    text-align                : center;
    color                     : #fff;
    font-weight               : 500;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius: 20px;
    transition                : .3s;
}

.show {
    max-height: 200px;
}

.hide {
    right    : 400px;
    max-height: 40px;
    padding   : 5px 0 10px 0;
    cursor    : pointer;

}

.close {
    position : absolute;
    right    : 10px;
    top      : 0;
    cursor   : pointer;
    font-size: 24px;
    color    : #fff;
}
