# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

**/.idea
**/.umi
**/resources/static
/logs
# roadhog-api-doc ignore


# production
**/target
# /.vscode

# # misc
# .DS_Store
# npm-debug.log*
# yarn-error.log

# /coverage
# .idea
yarn.lock
package-lock.json
# *bak
# .vscode

# # visual studio code
# .history
*.log
*.iml

# functions/mock
# .temp/**

# # umi
# .umi
# .umi-production

# # screenshot
# screenshot
# .firebase
/api/*.html

/web/**/dist
/frontend/*.html

/app/config/**/dist
/app/src/**/dist