.view {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.view .toc {
  margin-left: -5px;
  width: 350px;
  height: 100%;
  background-color: #F9F9F9;
  border-right: 1px solid #e7e7e7;
  overflow-y: hidden;
}
.view .toc .title {
  width: 100%;
  text-align: right;
  padding: 5px 10px;
  font-weight: 500;
}
.view .toc .title > span {
  line-height: 30px;
  display: inline-block;
}
.view .toc .title > span:first-of-type {
  flex: 1;
  text-align: center;
}
.view .toc .title > span:last-of-type {
  cursor: pointer;
}
.view .toc:hover {
  overflow-y: auto;
}
.text {
  overflow: hidden;
  flex: 1;
}
.text ul > li {
  list-style: disc outside none;
}
.text ul > li ul > li {
  list-style: circle;
}
.text ul > li ul > li ul > li {
  list-style: square;
}
.text ol > li {
  list-style: decimal outside none;
}
.text pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  *white-space: normal !important;
  border-radius: 6px;
}
.text :global .rc-md-editor {
  height: 100%;
  border: none;
}
.text :global .rc-md-editor .editor-container > .section > .section-container {
  padding: 24px;
}
.text code {
  padding: 0 5px;
  background-color: #f1c40f;
  font-weight: 500;
}
.text pre code {
  background-color: transparent;
}
