.md_container {
    display         : flex;
    height          : 100%;
    width           : 100%;
    overflow        : hidden;
    border          : 1px solid #e7e7e7;
    border-top      : none;
    background-color: #FFF;

    .md_content {
        flex    : 1;
        height  : 100%;
        overflow: hidden;

        .md_view {
            padding : 60px 50px;
            overflow: auto;
            height  : 100%;
        }

        .md_restSpace {
            flex      : 1;
            min-height: 40px;
        }
    }
}


.md_toc {
    margin-left: -5px;

    .md_title {
        width      : 100%;
        text-align : right;
        padding    : 5px 10px;
        font-weight: 500;

        >span {
            line-height: 30px;
            display    : inline-block;

            &:first-of-type {
                flex      : 1;
                text-align: center;
            }

            &:last-of-type {
                cursor: pointer;
            }
        }

    }

    :global {
        .ant-anchor-link {
            padding-left: 32px;
        }
    }

    width        : 350px;
    border-right :1px solid #e7e7e7;
    overflow-y   : hidden;

    &:hover {
        overflow-y: auto;

    }

}

//定义md样式
.md_md {

    font-size  : 14px;
    font-family: '微软雅黑';

    :global {

        .custom-html-style h1,
        .custom-html-style h2,
        h1,
        h2 {
            border-bottom : solid 1px #edd;
            padding-bottom: 10px;
            margin-bottom : 0.7em;
            font-size     : 16px;
            font-weight   : 600;
        }
    }

    p,
    span {
        font-size  : 14px;
        font-weight: 300;
    }

    img {
        max-width: 100%;
    }


    hr {
        margin: 36px 0;
        border: dashed #ccc 1px;
    }

    ul>li {
        list-style: disc outside none;

        ul>li {
            list-style: circle;

            ul>li {
                list-style: square;
            }
        }

    }

    ol {
        padding-left: 30px;
    }

    ol>li {
        list-style: decimal outside none;
    }

    pre {
        white-space     : pre-wrap !important;
        word-wrap       : break-word !important;
        *white-space    : normal !important;
        border-radius   : 6px;
        background-color: #f5f5f5;
        padding         : 20px;
        border          : solid #edd 1px;

    }

    :global {
        .rc-md_editor {
            height: 100%;
            border: none;
        }

        .rc-md_editor .editor-container>.section>.section-container {
            padding: 24px 40px;
        }
    }

    p code {
        padding         : 0 5px;
        background-color: #f1c40f;
        font-weight     : 500;
        border-radius   : 6px;
    }

    blockquote {
        position   : relative;
        margin     : 16px 0;
        padding    : 5px 8px 5px 30px;
        background : none repeat scroll 0 0 rgba(102, 128, 153, .03);
        color      : #333;
        border-left: 4px solid #d6dbdf;

        p {
            padding-top: 1em;
        }
    }

    table {
        font-size      : 14px;
        line-height    : 1.7;
        border-collapse: collapse;
        border-spacing : 0;

        th {
            text-align      : center;
            font-weight     : 700;
            border          : 1px solid #efefef;
            padding         : 10px 6px;
            background-color: #f5f7fa;
            word-break      : break-word;
        }

        td {
            border    : 1px solid #efefef;
            text-align: left;
            padding   : 10px 15px;
            word-break: break-word;
            min-width : 60px;
        }
    }
}