.tip {
  font-size: .75rem;
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-left: 3.625rem;
}

.words {
  span {
    display: inline-block;
    margin-right: .3125rem;
    border-radius: .1875rem;
    border: 1px solid #fff;
    transition: .5s;
    padding: 0 .125rem;
    cursor: pointer;
  }

  p {
    margin-bottom: .3125rem;
  }

  .selected {
    background: rgba(241, 196, 15, 0.3);
    border-color: rgba(211, 84, 0, 0.5);
  }
}

.trumpet {
  color: #e74c3c;
  display: inline-block;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.2);
  }
}
