.container {
    margin     : 0 auto;
    max-width  : 600px;
    position   : relative;
    overflow   : hidden;
    height     : 100vh;
    font-family: "微软雅黑";

    .mask {
        position: absolute;
        width   : 95%;
        z-index : 1;
        cursor  : pointer;
        border: 3px solid #ccc;
        left: 2%;
    }

    .tip {
        position   : absolute;
        top        : 1%;
        left       : 5%;
        z-index    : 1;
        font-size  : 30px;
        color      : #fff;
        font-weight: bold;

        img {
            width       : 34px;
            margin-right: 5px;
        }


    }

    .next,
    .prev {
        img {
            width: 3rem;
        }
    }

    

    .prev {
        position: absolute;
        left    : 40%;
        top     : 1.2%;
        cursor  : pointer;
        z-index: 1;
    }

    .next {
        position: absolute;
        left    : 52%;
        top     : 1.2%;
        cursor  : pointer;
        z-index: 1;

    }

    .bgImg{
        width: 100%;
    }

    .active{
        border-color: rgba(243, 131, 3, 0.8);
        background-color: rgba(243, 131, 3, 0.1);
    }
}
