@import url('./card.less');

.container {
    // background: linear-gradient(to left, #F28086, #FFAFBD);
    color           : @fontColor;
    background-color: @bgColor;
    height          : 100vh;
    padding         : 50px;
    max-width       : 500px;
    margin          : 0 auto;
    display: flex;
    flex-direction: column;

    h5 {
        color: #555;
    }

    h2{
        font-weight: 600;
    }

    .button {
        .mainBox();
        padding      : 40px;
        font-size    : 28px;
        font-weight  : bold;
        margin-top   : 60px;
        position     : relative;

        img {
            width   : 150px;
            position: absolute;
            top     : -50px;
            right   : 5px;
        }
    }


}