.container {
  // width : 50%;
  flex:1;
  padding: 5px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  >div {
    text-align: center;
    position  : relative;
  }

  .toolbar {
    padding        : 7px 15px;
    border-bottom  : 1px solid rgba(0, 0, 0, 0.1);
    display        : flex;
    justify-content: space-between;
    font-size      : 14px;
    font-weight    : 600;

    button {
      padding    : 0 5px;
      line-height: 22px;
      height     : 22px;

      &:enabled:hover {
        border-color: #2ecc71;
        color       : #2ecc71;
      }
    }

    .title {
      padding      : 0 8px;
      overflow-x   : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
      flex         : 1;
    }

  }

  .searchBar {
    padding: 10px 25px;

    .search {
      border-radius: 15px;
      border       : 1px solid rgba(0, 0, 0, 0.2);
      padding      : 3px 10px;
    }

  }

  .list {
    overflow-y: auto;
  }

  ul {
    padding: 0;
  }

  .menuItem {
    display        : flex;
    justify-content: flex-start;
    line-height    : 30px;
    padding        : 5px 15px;
    cursor         : pointer;
    align-items    : center;
    border-radius  : 15px;
    margin         : 0 5px;


    &:hover {
      background-color: rgba(205, 205, 205, 0.15);

      .menu {
        display: flex;
      }
    }

    .noteTitle {
      overflow-x   : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
      flex         : 1;
      text-align   : left;
    }

    .menu {
      display        : none;
      transition     : .2s;
      width          : 20px;
      align-items    : center;
      justify-content: center;


      &:hover {
        color: #e74c3c;

        span {
          scale: 1.05;
        }
      }
    }

    :global {
      .anticon {
        line-height: 30px;
      }
    }
  }

  .active {
    background-color: rgba(205, 205, 205, 0.2);
  }
}