<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.word.mapper.SentenceMapper">

    <select id="getByWord" resultType="org.jeecg.modules.word.entity.Sentence">
        <![CDATA[select * from word_sentence where content like CONCAT('%',#{wordName},'%' )]]>
    </select>

</mapper>