<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.word.mapper.WordChineseMapper">

    <select id="seachWordByArticle" resultType="java.util.Map">
        select *
        from (select a.id        as id,
                     b.article_id,
                     a.word_name as wordName,
                     a.pin_yin     as pinYin,
                     a.acceptation,a.short_acce as shortAcce
              from word_chinese a
                       join
                   word_article_word_rel b on a.id = b.word_id
                       and exists(select 1
                                  from word_user_rel c
                                  where c.word_id = b.word_id)
             ) data ${ew.customSqlSegment}
    </select>

</mapper>