<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.word.mapper.WordMapper">

    <select id="pageSeachWord" resultType="java.util.Map">
        select *
        from (select a.id        as id,
                     a.word_name as wordName,
                     a.ph_am     as phAm,
                     a.ph_an_mp3 as mp3,
                     b.user,
                     a.acceptation
              from word a,
                   word_user_rel b
              where a.id = b.word_id
             ) data ${ew.customSqlSegment}
    </select>

    <select id="seachWordByArticle" resultType="java.util.Map">
        select *
        from (select a.id        as id,
                     b.article_id,
                     a.word_name as wordName,
                     a.ph_am     as phAm,
                     a.ph_an_mp3 as mp3,
                     a.acceptation
              from word a
                       join
                   word_article_word_rel b on a.id = b.word_id
                       and exists(select 1
                                  from word_user_rel c
                                  where c.word_id = b.word_id)
             ) data ${ew.customSqlSegment}
    </select>


</mapper>