.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 85px);
}
.menu {
  width: 200px;
  border-right: 1px dotted #cdcdcd;
}
.menu ul > li {
  padding: 10px 30px;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.menu ul {
  padding: 0;
  max-resolution: 0;
}
.menu ul :hover {
  color: #fff;
  background-color: #ccc;
}
.menu .active {
  background-color: #cdcdcd;
}
.content {
  flex: 1;
  margin: 30px;
  border: 1px dotted #cdcdcd;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.1), inset 5px 5px 10px rgba(255, 255, 255, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.1);
  overflow: auto;
}
