.view {
    display : flex;
    height  : 100%;
    overflow: hidden;

    .toc {
        .title {
            width      : 100%;
            text-align : right;
            padding    : 5px 10px;
            font-weight: 500;

            >span {
                line-height: 30px;
                display    : inline-block;

                &:first-of-type {
                    flex      : 1;
                    text-align: center;
                }

                &:last-of-type {
                    cursor: pointer;
                }
            }

        }

        width           : 350px;
        height          : 100%;
        background-color: #F9F9F9;
        border-right    :1px solid #e7e7e7;
        overflow-y      : hidden;

        &:hover {
            overflow-y: auto;

        }

    }
}

.text {
    overflow: hidden;
    flex    : 1;
    height  : calc(~"100vh - 198px");

    ul>li {
        list-style: disc outside none;

        ul>li {
            list-style: circle;

            ul>li {
                list-style: square;
            }
        }

    }

    ol>li {
        list-style: decimal outside none;
    }

    pre {
        white-space     : pre-wrap !important;
        word-wrap       : break-word !important;
        *white-space    : normal !important;
        border-radius   : 6px;
        // background-color: #282c34;
        // code {
        //     background-color: #282c34;
        // }
    }

    :global {
        .rc-md-editor {
            height: 100%;
            border: none;
        }

        .rc-md-editor .editor-container>.section>.section-container {
            padding: 24px;
        }
    }

}