// 新
.main {
  height        : 100%;
  width         : 100%;
  display       : flex;
  flex-direction: column;
  padding       : 10px;
  padding-left  : 0;

  .tabPane {
    width        : 100%;
    margin       : 10px 5px 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position     : relative;



    .menuBtn {
      padding: 3px;

      >span {
        cursor       : pointer;
        border-radius: 7px;
        padding      : 5px;

        &:hover {
          background: linear-gradient(145deg, #f7f7f7, #ebebeb);
          color     : #888;
        }
      }
    }

    .menuActive {
      >span {
        background: #f4f4f4;
        color     : #bdbdbd;
        padding   : 6px 4px 4px 6px;
        box-shadow: inset 1px 1px 3px #cbcbcb,
          inset -1px -1px 3px #fcfcfc;
      }
    }

    .tab {
      position        : absolute;
      bottom          : -1px;
      left            : 33px;
      right           : 5px;
      background-color: #F9F9F9;

      overflow: hidden;
      z-index : 1;

      :global {

        .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab,
        .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
          border-radius: 10px 10px 0 0;
        }

        .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
        .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
          padding: 5px 10px;
        }

        .ant-tabs-top>.ant-tabs-nav,
        .ant-tabs-bottom>.ant-tabs-nav,
        .ant-tabs-top>div>.ant-tabs-nav,
        .ant-tabs-bottom>div>.ant-tabs-nav {
          margin-bottom: 0;
        }

        .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
        .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
          background-color: rgb(240, 236, 236);
        }

        .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
        .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
          background-color: #F9F9F9;
          border-bottom   : #F9F9F9;
        }

        .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
        .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
          border-color: rgba(0, 0, 0, 0.1);
        }

        .ant-tabs-top>.ant-tabs-nav::before,
        .ant-tabs-bottom>.ant-tabs-nav::before,
        .ant-tabs-top>div>.ant-tabs-nav::before,
        .ant-tabs-bottom>div>.ant-tabs-nav::before {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }

  }

  .title {
    display      : flex;
    align-items  : baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding      : 10px 16px 5px 16px;

    .buttons {
      display        : flex;
      flex           : 1;
      justify-content: center;
    }

    >input {
      border          : none;
      font-size       : 16px;
      font-weight     : bold;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }

    button,
    .buttons>span {
      padding    : 5px;
      height     : 27px;
      line-height: 1;
    }
  }

  // .content {
  //   flex: 1;

  //   div {
  //     overflow-wrap: break-word;
  //     word-break   : break-word;
  //     word-wrap    : break-word;
  //   }
  // }
}