.word {
  padding: 10px;
  margin-bottom: 100px;
}
.word section,
.word nav {
  padding-top: 0.625rem;
}
.word section :global .ant-anchor-wrapper,
.word nav :global .ant-anchor-wrapper {
  background-color: #f9f9f9;
}
.word section :global .ant-anchor-wrapper .ant-anchor,
.word nav :global .ant-anchor-wrapper .ant-anchor {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.word section :global .ant-anchor-wrapper .ant-anchor .ant-anchor-link,
.word nav :global .ant-anchor-wrapper .ant-anchor .ant-anchor-link {
  padding: 12px 20px;
}
.word section :global .ant-anchor-wrapper .ant-anchor .ant-anchor-ink,
.word nav :global .ant-anchor-wrapper .ant-anchor .ant-anchor-ink {
  display: none;
}
.word section :global .ant-anchor-wrapper .ant-anchor .ant-anchor-link-active,
.word nav :global .ant-anchor-wrapper .ant-anchor .ant-anchor-link-active {
  border-bottom: 3px solid #2ecc71;
}
.wordName {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 30px;
}
.wordName .star {
  width: 50px;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}
.wordName .favorate {
  color: #e74c3c;
}
.wordName .notFavorate {
  color: #bbb;
}
.wordName .notFavorate:hover {
  color: #e74c3c;
}
.phAm {
  line-height: 30px;
}
.trumpet {
  color: #e74c3c;
  display: inline-block;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.trumpet:hover {
  transform: scale(1.2);
}
.acceptation {
  white-space: pre;
  margin-top: 10px;
}
.acceptation .title {
  padding: 30px 0px;
  font-size: 18px;
  font-weight: 600;
}
.acceptation .sentence {
  display: flex;
  padding: 5px 0px;
}
.acceptation .sentence .content {
  flex: 1;
}
.img {
  width: 9.375rem;
  height: 9.375rem;
  padding: 0.3125rem;
  background-color: #fff;
  line-height: 9.375rem;
  border: 1px solid #f0f2f5;
  border-radius: 0.3125rem;
  box-sizing: content-box;
  cursor: pointer;
  transition: 0.3s;
}
.img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.img img {
  max-width: 9.375rem;
  max-height: 9.375rem;
}
