.layout aside,
.layout main {
  background: #fff;
  border: 1px solid #f0f2f5;
  border-radius: 5px;
}
.layout main > div {
  border: none;
  position: relative;
}
.layout .noteTree {
  padding: 24px 16px;
  margin-right: 2px;
}
.layout .noteTree .found {
  background-color: #f1c40f;
  color: #fff;
  border: 1px solid #f1c40f;
  border-radius: 3px;
  font-weight: 500;
}
.layout .openNotes .parents {
  display: inline-block;
  margin-left: 5px;
  color: #95a5a6;
}
.layout .openNotes > div {
  padding: 10px 0;
}
.layout .openNotes > div > div:nth-of-type(odd) {
  background-color: rgba(241, 242, 246, 0.4);
}
.layout .openNotes > div > div {
  padding: 3px 0;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
}
.layout .openNotes > div > div > span:first-of-type {
  display: inline-block;
  margin-right: 3px;
  color: #95a5a6;
  visibility: hidden;
  line-height: 1.7;
}
.layout .openNotes > div > div > span:last-of-type {
  flex: 1;
}
.layout .openNotes > div > div:hover > span:first-of-type {
  visibility: visible;
}
.layout .openNotes > div .active {
  background: #f1f2f6;
}
.layout .openNotes > div .active > span:first-of-type {
  visibility: visible;
}
.layout .text {
  margin-top: 10px;
  height: 100vh;
}
