.layout {

    aside,
    main {
        background   : #fff;
        border       : 1px solid #f0f2f5;
        border-radius: 5px;
    }

    main>div {
        border: none;
        position: relative;
    }

    aside {
        padding     : 24px 16px;
        margin-right: 2px;
    }

    .text {
        margin-top   : 10px;
        height       : 100vh;
    }
}