
@menuMaxWidth:300px;
@menuMinWidth:50px;

.main {
    height    : 100%;
    width     : 100vw;
    display   : flex;
    overflow  : hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    .container {
        flex    : 1;
        display : flex;
        overflow: hidden;

       
        .content {
            flex: 1;
        }
    }


}

.isMobile {
    display: block;
}