.container {
  background-color: #EBECF0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}
.container .tab {
  padding: 20px 50px;
}
.container :global .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}
.container :global .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
  background: #fff;
  padding: 24px;
}
.container :global .ant-tabs-card .ant-tabs-nav .ant-tabs-tab {
  border: none;
}
.container :global .ant-tabs-top > .ant-tabs-nav:before {
  border: none;
}
