<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.note.mapper.NoteOpenKeysMapper">

    <select id="getByTopKey" resultType="org.jeecg.modules.note.entity.NoteOpenKeys">
        select * from note_open_keys where top_key=#{topKey,jdbcType=VARCHAR}
        and create_by = #{createBy,jdbcType=VARCHAR}
    </select>
</mapper>