<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.note.mapper.NoteMapper">

    <select id="listNote" resultType="org.jeecg.modules.note.entity.Note">
        SELECT n.*
		   FROM  note_info n
		   WHERE n.create_by = #{createBy,jdbcType=VARCHAR}
            <if test="parentId != null">
               and n.parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
		   and n.del_flag = 0
		   order by n.update_time DESC
    </select>

    <select id="listChildNote" resultType="org.jeecg.modules.note.entity.Note">
        SELECT n.id,n.name,n.parent_id,n.parent_ids,n.tag
        FROM  note_info n
        WHERE n.create_by = #{createBy,jdbcType=VARCHAR}
        <if test="parentId != null">
            <![CDATA[ and n.parent_ids like CONCAT('%','${parentId}','%' ) ]]>
        </if>
        and n.del_flag = 0
        order by n.update_time DESC
    </select>
</mapper>